<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Workout App{% endblock %}</title>
    {% block styles %}
        <!-- for css -->
    {% endblock %}
</head>
<body>
    <header>
        
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>

    </footer>

    {% block scripts %}
        <!-- JavaScript scripts here -->
    {% endblock %}
</body>
</html>