{% extends 'base.html' %}

{% block content %}
<h1>{{ routine.routine_name }}</h1>

<p>Begin Date: {{ routine.begin_date }}</p>
<p>End Date: {{ routine.end_date }}</p>
<p>Notes: {{ routine.notes }}</p>

<h2>Plans</h2>
<a href="{% url 'add_plan_for_day' routine.id %}" class="btn btn-primary">Add New Plan</a>

{% if plans %}
    {% for plan in plans %}
        <div class="card mt-3">
            <div class="card-header">
                <h3>{{ plan.get_day_name_display }} - {{ plan.custom_name }}</h3>
            </div>
            <div class="card-body">
                <p>{{ plan.notes }}</p>
                <h4>Exercises</h4>
                {% if plan.exercise_sets.all %}
                    <ul>
                    {% for exercise_set in plan.exercise_sets.all %}
                        <li>{{ exercise_set.exercise.name }} - {{ exercise_set.series }} x {{ exercise_set.repetitions }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No exercises added yet.</p>
                {% endif %}
                <!-- Dodać URL do dodawania ćwiczeń -->
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No plans yet.</p>
{% endif %}
{% endblock %}