{% extends 'base.html' %}

{% block content %}
<h1>{{ routine.routine_name }}</h1>

<p>Begin Date: {{ routine.begin_date }}</p>
<p>End Date: {{ routine.end_date }}</p>
<p>Notes: {{ routine.notes }}</p>

<h2>Plans</h2>
<a href="{% url 'add_plan_for_day' routine.id %}" class="btn btn-primary">Add New Plan</a>

{% for plan in routine.routine_daily_plans.all %}
    <div>
        <h3>{{ plan.day_name }} - {{ plan.custom_name }}</h3>
        <p>{{ plan.notes }}</p>
        <a href="{% url 'edit_plan_for_day' plan.id %}" class="btn btn-secondary">Edit</a>
        <h4>Exercises</h4>
        {% for exercise_set in plan.exercise_sets.all %}
            <p>{{ exercise_set }}</p>
        {% empty %}
            <p>No exercises yet.</p>
        {% endfor %}
        <a href="{% url 'add_exercise_set' plan.id %}" class="btn btn-secondary">Add Exercise</a>
    </div>
{% empty %}
    <p>No plans yet.</p>
{% endfor %}
{% endblock %}