{% extends 'base.html' %}

{% block content %}
<h1>Workout Routine Analysis: {{ routine.routine_name }}
    {% if routine.workout_type and routine.workout_type != 'OTHER' %}
    ({{ routine.workout_type|upper }})
{% endif %}

</h1>

<h2>Trained Muscle Groups</h2>
<table class="table">
    <thead>
        <tr>
            <th>Muscle Group</th>
            <th>Number of Exercises</th>
            <th>Total Series</th>
        </tr>
    </thead>
    <tbody>
        {% for muscle, stats in trained_muscles.items %}
        <tr>
            <td>{{ muscle|title }}</td>
            <td>{{ stats.exercise_count }}</td>
            <td>{{ stats.total_series }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Untrained Muscle Groups</h2>
<ul>
    {% for muscle in untrained_muscles %}
    <li>{{ muscle|title }}</li>
    {% endfor %}
</ul>

<h2>Suggested exercises for untrained muscles</h2>
{% for muscle, exercises in suggested_exercises.items %}
    <h3>{{ muscle|title }}</h3>
    <ul>
    {% for exercise in exercises %}
        <li>
            {{ exercise.name }}
            {% if exercise.matches_preferred_sport %}
                <span class="badge bg-success">Perfect for preferred sport</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}

{% if repetition_range_check %}
<h2>Repetition Range Analysis</h2>
<p>Total exercises analyzed: {{ repetition_range_check.total_exercises }}</p>
<p>Exercises in 6-12 repetition range: {{ repetition_range_check.exercises_in_range }}</p>
<p>Percentage: {{ repetition_range_check.percentage }}%</p>
<p>
    {% if repetition_range_check.meets_criteria %}
    <strong style="color: green;">You have enought exercises in 6-12 repetition range</strong>
    {% else %}
    <strong style="color: red;">Over half of important exercises are not in 6-12 range. Consider adjusting Your schedule.</strong>
    {% endif %}
</p>
{% else %}
<p>Repetition range analysis is not applicable for advanced fitness levels.</p>
{% endif %}
<h2>Compound and Isolation Exercises Analysis</h2>
<p>Number of compound exercises: {{ compound_isolation_analysis.compound_exercises }}</p>
<p>Number of isolation exercises: {{ compound_isolation_analysis.isolation_exercises }}</p>
<p>Total number of exercises: {{ compound_isolation_analysis.total_exercises }}</p>

{% if compound_isolation_analysis.is_balanced %}
    <p class="text-success">{{ compound_isolation_analysis.message }}</p>
{% else %}
    <p class="text-warning">{{ compound_isolation_analysis.message }}</p>
{% endif %}

<h2>Pull vs Push Analysis</h2>
<p>Total Pull Series: {{ pull_push_analysis.pull_series }}</p>
<p>Total Push Series: {{ pull_push_analysis.push_series }}</p>
<p>Pull to Push Ratio: {{ pull_push_analysis.pull_push_ratio }}</p>




{% if pull_push_analysis.pull_deficit %}
    <p class="alert alert-warning">
        <strong>Warning:</strong> Your workout routine has a deficit of pull exercises. 
        Consider adding more pull exercises to balance your routine.
    </p>
{% elif pull_push_analysis.push_deficit %}
    <p class="alert alert-warning">
        <strong>Warning:</strong> Your workout routine has a deficit of push exercises. 
        Consider adding more push exercises to balance your routine.
    </p>
{% else %}
    <p class="alert alert-success">
        Your pull to push ratio is well-balanced.
    </p>
{% endif %}

<a href="{% url 'workout_routine_detail' routine.pk %}" class="btn btn-primary my-3 mb-5 ">Back to Routine Details</a>
{% endblock %}